*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

body {
    display: grid;
    place-items: center;
    padding: 20px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 50px;
}

.video {
    width: 300px;
    height: 300px;
    margin: 10px;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px 3px rgba(191, 192, 241, 0.315);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


select {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px 3px rgba(191, 192, 241, 0.315);
    /* border: 1px solid black; */

    margin-bottom: 20px;


}